<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://mybatis.org/schema/mybatis-spring
   http://mybatis.org/schema/mybatis-spring.xsd">
 
  <mybatis:scan base-package="com.freehoon.web.mapper" annotation="org.apache.ibatis.annotations.Mapper" /> 
    
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     <property name="basePackage" value="com.freehoon.web.board.**" />
     <property name="annotationClass" value="org.apache.ibatis.annotations.Mapper" />
  </bean>
 
</beans>